.title {
    font-family: Roboto, serif;
    font-size: 20px;
    color: #152C5B;
    font-weight: bold;
    margin-top: 10px;
}

.filters {
    /*border-style: solid;*/

    font-family: Roboto , sans-serif;
    font-size: 16px;
    color: #152C5B;
    height: 40px;


}

.host {
    background: #f8f8f8 0 0 no-repeat padding-box;
    opacity: 1;
    transform: translateX(5%);
}

.card-style {

    background-color: white;
}

.widget {
    height: 71px;
    width: 100%;
}

.button-row {
    height: 71px;
}

.button-container {
    padding: 0;
    height: 100%;
}

.btn-responsive {
    width: 95%;
    height: 100%;
    background-color: #0F23D3;
    color: white;
}

.container_host {
    width: 100%;
    justify-content: center;

}

.row-table {
    margin-top: 35px
}

.td_style {
    font-family: Roboto, sans-serif;
    font-size: 0.8em;
    font-weight: bold
}

.th_style {
    font-family: Roboto, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    color: #8C99B1
}

.filters_margin {
    margin-top: 15px;
}

.dropdown_light {
    background-color: white;
}



.table_margin {
    transform: translateY(-20px);
}

.date-pick {
    padding-left: 45px;
    width: 110%
}

.btn-download {
    margin-top: 15px;
    background-color: #152C5B;
    border: none;
    width: 177px;
    height: 49px;
    border-radius: 4px;
    opacity: 1;
}

.margin-top {
    margin-top: 15px
}

.margin-bottom {
    margin-bottom: 20px
}

.margin-right {
    margin-right: 5px;
}






.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #0F23D3;
}

.btn-download:hover {
    background-color: #354F84 !important;
}


.container-fluid {

    background-color: #FCFCFC;
}

.tab-content {
    background-color: white;
}

.reject-button {
    background: #F71D1D;
    border-radius: 4px;
    opacity: 1;
    width: 224px;
    height: 71px;
    border-color: #F71D1D;


}

.next-button {
    background: #152C5B;
    border-radius: 4px;
    opacity: 1;
    width: 224px;
    height: 71px;
    border-color: #152C5B;


}




.next-button:hover {
    background-color: #152C5B;

}

.big-check-box {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
}

.doc-cell {
    border-radius: 10px;
    background-color: #D0DCF5;
    height: 70px;
}

.margin-top-moderate {
    margin-top: 6%
}

.margin-top-sm {
    margin-top: 3%
}

.margin-left-sm {
    margin-left: 4%
}

.light-font-blue {
    font-family: Roboto, sans-serif;
    color: #152C5B;
    font-size: 1.1em
}

.bold-font-blue {
    font-family: Roboto, sans-serif;
    color: #152C5B;
    font-size: 1.2em;
    font-weight: bold
}

.margin-top-low {
    margin-top: 0.5%
}

.margin-top-below-moderate {
    margin-top: 5%
}

.small-cell-doc {
    border-radius: 10px;
    background-color: #D0DCF5;
    height: 150px;
    background-size: cover;
}

.big-cell-doc {
    border-radius: 10px;
    background-color: #D0DCF5;
    height: 463px;
    margin-left: 0.5%;
    background-size: cover;
}

.ribbon-icons {
    transform: translate(-445%, 17%)
}

.ribbon-icon {
    background-color: white;
    padding: 20px;
    margin: 3px
}

.translate-x {
    transform: translate(17%)
}

.separator {
    height: 5px
}



.gray {
    color: lightgray;
}


.tab_title_style {
    color: #8C99B1;
    font-family: roboto, sans-serif;
}




      .title-form {
          font-family: Roboto, sans-serif;
          font-size: 18px;
          color: #152C5B;
          font-weight: bold;
          margin-top: 10px;
      }

      .height-input {
          height: 70px;
      }

.confirm-button{
    background: #0F23D3;
    border-radius: 4px;
    opacity: 1;
    width: 224px;
    height: 71px;

}
.reject-button{
    background: #F71D1D;
    border-radius: 4px;
    opacity: 1;
    width: 224px;
    height: 71px;
    border-color:#F71D1D;

}
.next-button{
    background: #152C5B ;
    border-radius: 4px;
    opacity: 1;
    width: 224px;
    height: 71px;
    border-color:#152C5B ;

}
.cancel-button:hover {
    background-color: transparent;
    color:#8C99B1;
}
.reject-button:hover {
    background-color: #F71D1D;
    
}

    .dropdown-border-color {
 
    border-color: #ced4da;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  /* border: 1px red solid; */
}
.image2 {
    position: absolute;
    top: 143px;
    left: 5px;
}
.image3 {
    position: absolute;
    top: 143px;
    left: 317px;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
  background-color: #152C5B;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #18006e;
}
.style-name-input{
    transform: translate(0px,24px);
}
.style-calendar-icon{
    transform: translate(15px,43px);font-size: x-large

}
.style-calendar-icon2{
    transform: translate(15px,-50px);font-size: x-large

}

.width-input-date{
    width: 100%;
}
.style-div-steps{
    text-align:center;margin-top:40px; margin-left: 75px; width: 100%;

}
.style-img{
    margin-top: 150px; margin-left: 150px;

}
.margin-arrow-img{
    margin-top: 20px;


}
.margin-button{
    margin-left: 4px;margin-right: 13px;
}
 
    .title-modal {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #223345;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 35px;
}
.width-modal{
    max-width: 700px;
}
/* .title-form{
    text-align: left;
    size: 16px;
    color: #8C99B1;
    opacity: 1;
    font-family: Roboto, sans-serif;
} */
.user-information-style{
    font-size: 20px;
    color: #152C5B;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}
.modal-footer{
    border-top: 0px solid #dee2e6;
    margin-right: 22px;
}
.modal-body{
   
    margin-left: 20px;
    margin-right: 20px;
}
.cancel-button{
    background: transparent;
    color: #8C99B1;
    border: transparent;
}




.text-alert{
    

    color: #F71D1D;
    font-weight: 600;
    size: 16px;

}
.text-form-reject{
    size:16px;
    font-family: Roboto, sans-serif;
    color:#223345;
    margin-bottom: 10px;
    margin-left: 18px;

}
.textarea-margin{
    margin-left: 15px;
}
.close {
 
    font-size: 2rem;}
.close-margin{
    margin-right: 22px;

    }
    .row-style{
        margin-top: 3%;margin-left:0px;
    
      }
      .col-md-4-style{
        border-radius: 2px;
        background-color: #D0DCF5;height: 70px;
        margin-left: 15px;
        margin-bottom: 15px;
        
      }
	